body {
   background-image: url("livingroom.jpg");
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;

}

.cat1 {
   margin-left: 860px;
   margin-top: 340px;
}

h1 {
   background-color: aliceblue;
   text-align: center;
   font-size: 36px;
}



.entertainment {
   margin-top: -100px;
}

footer {
   float: right;
   margin-top: -25px;
   margin-right: 25px;
}