body{
    background-color: lightblue;
    font-family: 'Gabarito', cursive;
    font-size: 18px;
  
}


h1{
    text-align: center;
}

#rules{
    border: groove lightcyan 5px;
    padding: 0 75px 0 75px;
    margin: 0 525px 0 525px;
}

.center{
  margin-left: auto; 
  margin-right: auto; 
}
.compare{
   text-align: center;
}
.kitty{
    text-align: center;
}

h2{
    margin: 90px 0 0 450px;
}

.container {
    text-align: center;
}

button {
   padding: 35px;
    font-size: 24px;
    border-radius: 50%;
}

